.wrapper {
    display: flex;
}

.input {
    border: none;
    border-bottom: 1px solid black;
    flex-grow: 1;
    font-size: 18px;
    line-height: 30px;
    padding: 5px;
    height: 30px;
    margin: 20px 0;
}

.input::placeholder {
    font-size: 18px;
}

.input:focus-visible {
    outline: none;
}

.error {
    border-bottom: 1px solid red;
}

.errorMessage {
    color: red;
    margin-top: 33px;
}