.wrapper {
    border-radius: 4px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "header header"
            "textAria sendBtn";
    align-content: start;
    background-color: white;
    box-sizing: border-box;
    padding: 0 30px;
    margin-top: 40px;
    width: 850px;
}

.header {
    grid-area: header;
    border-bottom: 1px solid #f4f4f4;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 0;
    text-align: left;
}

.textArea {
    grid-area: textAria;
    border: none;
    font-size: 20px;
    resize: none;
    outline: none;
    height: 80px;
    width: 650px;
}

.send_btn {
    cursor: pointer;
    grid-area: sendBtn;
    align-self: center;
    margin-left: 30px;
}

.textArea::-webkit-scrollbar {
    width: 2px;
}

.textArea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.textArea::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}