.tuningBlock {
    display: flex;
    flex-direction: column;
}

.tuningLabel {
    display:flex;
    flex-direction: column;
}


.wrapper {
    background-color: white;
    box-sizing: border-box;
    padding: 28px 94px;
    margin: 0 auto;
    height: 325px;
    width: 900px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.numberBlock {
    display: flex;
    justify-content: space-between;
    width: 101%;
}

.label {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 31px;
}

.button {
    display: block;
    background-color: #C7D3F4;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
    height: 50px;
    width: 250px;
}

.starsBlock {
    width: 100%;
}

.large {
    width: 900px;
}

.small {
    padding: 1% 3%;
    width: 650px;
}