.tuningBlock {
    display: flex;
    flex-direction: column;
}

.tuningLabel {
    display: flex;
    flex-direction: column;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    padding: 28px 94px;
    margin: 0 auto;
    height: 325px;
    width: 900px;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.015em;
    text-align: center;
    margin-bottom: 30px;
}

.numberBlock {
    display: flex;
    justify-content: space-between;
    width: 101%;
}

.label {
    color: #5C5B5B;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0.015em;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 31px;
    width: 100%;
}

.button {
    display: block;
    background-color: #C7D3F4;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.015em;
    text-align: center;
    margin-left: auto;
    height: 50px;
    width: 250px;
}

.tenStars {
    width: 100%;
}

.fiveStars {
    width: 75%;
}

.large {
    width: 900px;
}

.small {
    padding: 1% 4%;
    width: 650px;
}