.container {
    display: grid;
    grid-template-columns: 1fr 290px;
    grid-column-gap: 40px;
    margin: 0 auto;
    width: 1180px;
}

.left_container {
    background-color: white;
    margin-top: 40px;
}

.right_container {

}