* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0 20px;
    margin: 30px;
    width: 80%;
}

.avatar_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
}

.photo {
    display: block;
    margin: 0 0 5px 0;
    height: 50px;
    width: 50px;
}

.button {
    background: rgb(0, 119, 181);
    background: linear-gradient(180deg, rgba(0, 119, 181, 1) 0%, rgba(14, 103, 149, 1) 100%);
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 #00000040;
    color: white;
    cursor: pointer;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    height: 26px;
    width: 70px;
    transition: all ease-in 0.1s;
}

.button:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 6px 0 #00000040;
}

.button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 2px 0 #00000040;
}

.user_description {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.left_description {

}

.right_description {
    text-align: end;
}