.profileData__wrapper {
    background-color: white;
    margin: 40px auto 0;
    width: 1200px;
}

.profileData__card {
    display: grid;
    position: relative;
    bottom: 50px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(5,1fr) ;
    grid-template-areas:
            "photo  data"
            "photo  data-name"
            "photo  data-birth"
            "photo  data-city"
            "photo  data-education"
            "photo  data-site";
    grid-column-gap: 30px;
    padding-top: 30px;
}

.profileData__image {
    grid-area: photo;
    justify-self: center;
}

.profileData__data {
    margin: 0;
    text-align: left;
}

.profileData__data_name {
    font-size: 18px;
    font-weight: bold;
    grid-area: data-name;
}

.profileData__data_birth {
    grid-area: data-birth;
}

.profileData__data_city {
    grid-area: data-city;
}

.profileData__data_education {
    grid-area: data-education;
}

.profileData__data_site {
    grid-area: data-site;
}