.wrapper {
    border-radius: 4px;
    background-color: white;
    margin-top: 40px;
    width: 850px;
}

.card {
    display: flex;
    position: relative;
    bottom: 50px;
    padding-top: 30px;
}

.imageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.image {
    background-color: white;
    border: 10px solid white;
    border-radius: 50%;
    justify-self: center;
    height: 200px;
    width: 200px;
}

.label {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.setPhoto {
    display: none;
}

.profileDataWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    margin-left: 35px;
}

.data, .status {
    display: block;
    margin: 10px 0;
    text-align: left;
}

.data a {
    padding-left: 10px;
}

.contacts {
    margin: 10px 0 10px 20px;
}

.status {

}

.fullName {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.fieldData {
    font-size: 17px;
    font-style: italic;
    padding-left: 10px;
}

.errorSpan {
    display: inline-block;
    color:red;
    font-size: 18px;
    margin: 20px;
}

.button {
    background-color: #0e6897;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px gray;
    color: #fff;
    height: 35px;
    width: 85px;
}

.button:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 4px gray;
}

.button:active {
    transform: scale(1.0);
    box-shadow: 2px 2px 2px gray;
}

.changePhotoLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 160px;
}