.container {
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-template-rows: 1fr;
    grid-template-areas: "text photo";
    justify-items: end;
    margin: 0 0 20px 0;
}

.messageText {
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 #00000040;
    display: inline;
    grid-area: text;
    background-color: #E9F0F8;
    padding: 15px 20px;
    margin-bottom: 25px;
}

.data {
    display: block;
    align-self: end;
    grid-area: text;
    font-size: 10px;
    margin-bottom: 5px;
}

.photo {
    grid-area: photo;
    margin-left: 15px;
    height: 46px;
    width: 46px;
}