.container {
    background-color: white;
    height: 655px;
    width: 850px;
}

.header {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    font-size: 15px;
    line-height: 56px;
    padding-left: 30px;
    margin: 0;
    height: 56px;
}

.chatName {
    color: blue;
}

.chatting {
    box-sizing: border-box;
    overflow: auto;
    padding: 30px;
    height: 521px;
    width: 100%;
}

.chatting::-webkit-scrollbar {
    width: 2px;
}

.chatting::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chatting::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.sendMessage {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    height: 75px;
    width: 100%;
}

.messageText{
    box-sizing: border-box;
    border: none;
    font-size: 18px;
    outline: none;
    padding: 25px;
    resize: none;
    height: 75px;
    width: 84%;
}

.sendBtn, .attachBtn {
    margin: 0 15px;
    background: none;
    border: none;
}

.attachBtn {

}