.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    margin: 30px auto;
    height: 450px;
    width: 450px;
}

.header {

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.label {
    border-bottom: 1px solid gray;
}

.form__field {
    margin-top: 10px;
    width: 100%;
}

.button {
    background: rgb(0, 119, 181);
    background: linear-gradient(180deg, rgba(0, 119, 181, 1) 0%, rgba(14, 103, 149, 1) 100%);
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 #00000040;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 36px;
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    height: 36px;
    width: 100px;
    transition: all ease-in 0.1s;
}

.button:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 6px 0 #00000040;
}

.button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 2px 0 #00000040;
}