.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 20px 0 40px 0;
    height: 75px;
    width: 290px;
}

.startBtn {
    background-color: blue;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    height: 36px;
    width: 230px;
}