.wrapper {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
            "content"
            "likeBtn";
    height: 160px;
    padding-bottom: 30px;
    user-select: none;
}

.card {
    display: flex;
    align-items: center;
    margin: 40px 0 0;
    width: 850px;
}

.avatar {
    height: 80px;
    width: 80px;
    margin: 0 30px;
}

.text {
    font-size: 20px;
    font-style: italic;
    padding-right: 30px;
    text-align: left;
    user-select: text;
}

.likeBtn {
    align-self: center;
    grid-area: likeBtn;
    margin-left: 140px;
}

.likeCount {
    align-self: center;
    grid-area: likeBtn;
    margin-left: 160px;
    text-align: left;

}